<div class="intersection">
    <div class="horizontal top">
      <app-traffic-light [isVertical]="false"></app-traffic-light>
    </div>
    <div class="horizontal bottom">
      <app-traffic-light [isVertical]="false"></app-traffic-light>
    </div>
    <div class="vertical left">
      <app-traffic-light [isVertical]="true"></app-traffic-light>
    </div>
    <div class="vertical right">
      <app-traffic-light [isVertical]="true"></app-traffic-light>
    </div>
    <button class="emergency-button" [disabled]="emergencyActive" (click)="triggerEmergency()">Emergency</button>
  </div>
  